*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: oklch(from var(--black)l c h);
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 32px 1rem;
  margin: 0 auto;

  max-width: 1240px;

  font-family: inherit;
  font-size: 20px;
}
:where(a:link),
:where(a:visited),
:where(a:hover),
:where(a:active) {
  color: inherit;
  text-decoration: none;
}

.header svg {
    height: 40px;
    width: 40px;
}
.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: oklch(from var(--white) l c h);
}
.header__navigation ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}
.header__navigation a:hover{
    color: oklch(from var(--brand-primary)l c h);
}
.header__login{
    display: flex;
    gap: 20px;
}
.header__login a{
    border: 3px solid oklch(from var(--brand-primary)l c h);
    border-radius: 10px;

    padding: 5px 26px;
}
.header__login a:hover{
    background-color: oklch(from var(--brand-primary)l c h);
    color: oklch(from var(--white)l c h);
}
footer{
    color: oklch(from var(--white)l c h);
    background: linear-gradient(#ececec, #b9b9b9);

    padding: 20px 100px;

    font-size: 26px;
}
footer h2{
    font-size: 36px;
}
.footer-container{
    display: flex;
    gap: 160px;
    justify-content: space-around;
    margin: 0 auto;

    height: 446px;
}
.map{
    width: 400px;
    height: 400px;
}