.hero-section {
    position: relative;
    background-image: url(/src/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 258px 16px;
}
.hero-section__content {
    background-color: oklch(from var(--brand-primary) l c h/ 70%);
    border-radius: 40px;
    color: oklch(from var(--white) l c h);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    position: relative;
    max-width: 768px;
    height: auto;
    margin: 0px auto;
    padding: 90px 130px;
    text-align: center;
}
.hero-section__content h1{
    font-size: 52px;
    text-transform:uppercase;

}
.hero-section__content p{
    font-size: 26px;
}
.hero-section__content a{
    font-size: 22px;

    color: oklch(from var(--black) l c h);
    background-color: oklch(from var(--white) l c h);
    border-radius: 50px;

    padding: 18px 60px;
}




h2{
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    text-transform: uppercase;
}
.reviews{
    display: flex;
    justify-content: center;
    gap: 140px;
    padding: 40px 90px;
}
.review{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center
}
.review img{
 height: 200px;
 width: 200px;
 border-radius: 100%;
}
.review figcaption{
    text-align: center;
}
.reviewName{
    color: oklch(from var(--pink) l c h);
    font-weight: 600;
}